BorderPane{
    -fx-background-image: url("../../assets/castle.jpg");
    -fx-background-position: center center;
}

Button{
    -fx-font-size: 30px;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-text-fill: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 12px;
    -fx-border-radius: 20px;
}

VBox{
    -fx-alignment: center;
    -fx-spacing: 15;
}