BorderPane {
    -fx-background-image: url("../../assets/castle.jpg");
    -fx-background-position: center center;
}

VBox {
    -fx-alignment: center;
    -fx-spacing: 20px;
}

Button {
    -fx-font-size: 30px;
    -fx-background-radius: 12px;
    -fx-border-radius: 20px;
}

Label {
    -fx-font-size: 100px;
    -fx-text-fill: white;
}